header.header
    nav.nav.nav--tours
        a(href='/' class='nav__el') All tours
    div(class='header__logo')
        img(src='/img/logo-white.png' alt='Natours logo')
    nav.nav.nav--user
        if user
            a.nav__el.nav__el--logout log out
            a(href='#' class='nav__el')
                img(src=`./img/users/${user.photo}` alt=`Photo of ${user.photo}` class='nav__user-img')
                span=`${user.name.split(' ')[0]}`
        else
            a.nav__el(href='/login') Log in
            a.nav__el.nav__el--cta(href='#') Sign up
